@import "eternal.css";
@import "reset.css";

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1140px;
    padding: 0 15px;
}
h1 {
    text-align: center;
    font: 600 2rem Arial;
}
h2 {
    text-align: center;
    font: 600 1.5rem Arial;
    padding-top: 60px;
}
.navbar-brand img{
    max-width: 30px;
    height: auto;
}
.net1__card {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.card-title {
    font-weight: 600;
}
.net1__progress {
    padding-top: 10px;
}
.progress {
    margin-bottom: 10px;
}


.net2 .container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.carousel-inner img {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}
.carousel-control-next, .carousel-control-prev {
    width: 75%;
}

.btn-warning {
    padding: 5px 10px;
}
.net3 input {
    border: 1px solid yellow;
    background-color: rgba(249, 249, 129, 0.5);
    border-radius: 5px;
    margin-bottom: 5px;
}
.btn-secondary {
    --bs-btn-bg: #1670bf;
    --bs-btn-border-color: #e8d018;
}

.net3 article {
    padding-left: 20px;
}
.section__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__desc img {
    max-width: 400px;
    margin: 0 auto;
}

.net4 main {
    display: flex;
    flex-direction: row-reverse;
}
.net4 article {
    padding-right: 20px;
}
.net4 input {
    border: 1px solid rgb(13, 67, 215);
    background-color: rgba(42, 6, 246, 0.283);
    border-radius: 5px;
    margin-bottom: 5px;
}
.section__desc-text {
    padding-left: 10px;
}

.net5 article {
    padding-right: 20px;
}
.net5 input {
    border: 1px solid rgb(13, 215, 33);
    background-color: rgba(10, 246, 6, 0.283);
    border-radius: 5px;
    margin-bottom: 5px;
}
.section__desc-text {
    padding-left: 10px;
}
.net5 main {
    display: flex;
    flex-direction: row-reverse;
}
.section__net5 {
    padding-top: 20px;
}

.net6 .section-cards {
    display: flex;
    justify-content: space-around;
}

.net7 .section-cards {
    display: flex;
    justify-content: space-around;
}
.net7 .card {
    margin-bottom: 20px;
}

.net8 article {
    display: flex;
    flex-direction: column-reverse;
}
.net8 .section-cards {
    display: flex;
    justify-content: space-around;
}